<!-- <div style="text-align: center; margin-top: 50px;">
  <h1>Bộ đếm: {{ count }}</h1>

  <button (click)="increase()" style="padding: 10px 20px; font-size: 16px;">
    Tăng số (+1)
  </button>
   <button (click)="decresase()" style="padding: 10px 20px; font-size: 16px;">
    Giảm số (-1)
  </button>
  <br><br>

  @if (count > 5) {
    <p style="color: green; font-weight: bold;">
      Wow! Bạn bấm nhiệt tình quá! (Trên 5 lần rồi)
    </p>
  } @else {
    <p style="color: gray;">
      Hãy bấm tiếp đi...
    </p>
  }
</div>
<hr> <div style="text-align: center; margin-top: 20px;">
  <h3>Nhập tên của bạn:</h3>

  <input type="text" [(ngModel)]="yourName" placeholder="Gõ tên vào đây...">

  @if (yourName) {
    <h2 style="color: blue;">Xin chào, {{ yourName }}! 👋</h2>
  }
</div>
<hr> -->
<nav style="padding: 10px; background: #eee; margin-bottom: 20px;">
  <h1>Ứng Dụng Của Tôi</h1>
</nav>

<router-outlet></router-outlet>
