<div style="text-align: center; margin-top: 50px;">
  <h1>Bộ đếm: {{ count }}</h1>

  <button (click)="increase()" style="padding: 10px 20px; font-size: 16px;">
    Tăng số (+1)
  </button>
   <button (click)="decresase()" style="padding: 10px 20px; font-size: 16px;">
    Giảm số (-1)
  </button>
  <br><br>

  @if (count > 5) {
    <p style="color: green; font-weight: bold;">
      Wow! Bạn bấm nhiệt tình quá! (Trên 5 lần rồi)
    </p>
  } @else {
    <p style="color: gray;">
      Hãy bấm tiếp đi...
    </p>
  }
</div>
<hr> <div style="text-align: center; margin-top: 20px;">
  <h3>Nhập tên của bạn:</h3>

  <input type="text" [(ngModel)]="yourName" placeholder="Gõ tên vào đây...">

  @if (yourName) {
    <h2 style="color: blue;">Xin chào, {{ yourName }}! 👋</h2>
  }
</div>
<hr>


<h2>Danh sách bạn bè ({{ userService.users().length }} người):</h2>

<div style="display: flex; flex-wrap: wrap;"> @for (user of userService.users(); track user.id) {
    
    <app-user-card
      [user]="user"
      (friendRequest)="handleFriendRequest($event)">
    </app-user-card>

  } @empty {
    <p>Chưa có bạn bè nào trong danh sách.</p>
  }

</div>